@using System.Web.Profile
@using System.Web.Security
@using System.Configuration

@{
    ViewBag.Title = "UserProfiles";
}

<h2>UserProfiles</h2>


<table>
@{    
    var users = Membership.GetAllUsers().Cast<MembershipUser>();

    foreach (var u in users)
    {
        <tr>
        <td>@u.Email</td>

        @{
            var profile = ProfileBase.Create(u.UserName, true);
            foreach (SettingsProperty prop in ProfileBase.Properties)
            {
                <td>@profile.GetPropertyValue(prop.Name)</td>
            }
        }
        </tr>
    }
}
</table>